# macOS
.DS_Store

# Xcode user data
xcuserdata/
**/xcuserdata/
*.xcuserstate

# Xcode build output
DerivedData/
build/

# Swift Package Manager
.build/
Package.resolved

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output/

# CocoaPods
Pods/

# Carthage
Carthage/Build/

# Archives and logs
*.xcarchive
*.ipa
*.dSYM.zip
*.dSYM

# Firebase
GoogleService-Info.plist
